<div class="sidebar-logo">
    <div class="logo-header" data-background-color="dark">
        <a href="{{ url_for('index') }}" class="logo">
            <img src="{{ url_for('static', filename='img/kaiadmin/logo_light.svg') }}" class="navbar-brand" height="20" alt="Logo">
        </a>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
            </button>
        </div>
        <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
        </button>
    </div>
</div>
<div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
        <ul class="nav nav-secondary">
            <li class="nav-item active">
                <a data-bs-toggle="collapse" href="{{ url_for('index') }}" class="collapsed" aria-expanded="false">
                    <i class="fas fa-home"></i>
                    <p>Concise</p>
                </a>
            </li>
        </ul>
    </div>
</div>