{% extends "base.html" %}

{% block content %}
	<div class="page-inner p-0">
		<div class="container-fluid p-0 grid-container">
			<!-- Base layout for grid structure -->
			<div class="row g-0 h-50">
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
			</div>
			<div class="row g-0 h-50">
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
				<div class="col h-100"><div class="scrollbar-inner">Column</div></div>
			</div>
		</div>
	</div>
{% endblock %}