{% extends "base.html" %}

{% block content %}
	<div class="page-inner p-0">
		<div class="container-fluid p-0 grid-container">
			<div id="row1" class="row g-0 h-50"></div>
			<div id="row2" class="row g-0 h-50"></div>
		</div>
	</div>

	<template id="column_template">
		<div class="scrollbar-inner">
			<h4 class="card-secondary"></h4>
		</div>
	</template>

	<template id="swal_template">
		<div class="form-group">
			<div class="input-group">
				<input 
				id="feed_source"
				type="text" 
				class="form-control" 
				placeholder="Enter feed url or choose a predefined source..."
				aria-label="Text input with dropdown button" />
				<div class="input-group-append">
					<button
					class="btn btn-primary btn-border dropdown-toggle"
					type="button"
					data-bs-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
					>
					Predefined
					</button>
					<div id="feed_dropdown_menu" class="dropdown-menu"></div>
				</div>
			</div>
		</div>
	</template>

	<template id="article_modal">
		<div id="article_summary"></div>
		<div style="text-align: left">
			<a id="article_link" href="#" target="_blank">Read Full Article</a>
		</div>
	</template>
{% endblock %}
